.git
.env
.DS_Store
.dockerignore
.astro
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
dags/exampledag.py
dags/.airflowignore
include/otherproject
compose.yaml
tests